* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
.center-tracker{ 
	width:250px;
	margin: 10px auto 0px auto;
}
.center-tracker label{
	display: block;
	width:162px;
	margin: 10px auto 0px auto;
	font-weight: 700;
}
.signup-form{
	margin: 25px 0px 0px 0px;
}
.center-link-sign{ 
	text-align: center;
	margin: 15px 0px 0px 0px;
}

.content-scroll {
}

.center-logo{ 
	width: 107px;
	margin: 0px auto 20px auto;
}
.how_it_works-bttn {
	margin: 0 auto;
	width: 134px !important;

}
.center-label-main{ 
	font-weight:700; 
}
.ui-li-static.ui-li {
	padding: .1em 0px;
	display: block;	
}
.ui-li .ui-btn-inner a.ui-link-inherit:hover{
	
}
.ui-listview > .ui-li.ui-first-child {
	padding: .8em 15px;
}
.ui-btn-up-c:hover {
	background-color: none !important;
}
.page-container {
	width: 95%;
	margin: 0 auto;

}
/*Profile screen */
.profile-name{
	float:left;
	margin: 0px 0px 0px 15px;
	width: 61%;
}
.profile-name input{

}
.profile-short img {
	float: left;
	width: 90px;
	height: 90px;
}
.profile-info {
	float: left;
	width: 100%;
	margin: 15px 0px 0px 0px;
}



