Rinse-PG.ipa
Rinse-PG/CordovaLib/CordovaLib.xcodeproj/xcuserdata/michaelaldape.xcuserdatad/xcschemes/CordovaLib.xcscheme
Rinse-PG/CordovaLib/CordovaLib.xcodeproj/xcuserdata/michaelaldape.xcuserdatad/xcschemes/xcschememanagement.plist
Rinse-PG/HockeySDK-iOS-3.0.0/CHANGELOG
Rinse-PG/HockeySDK-iOS-3.0.0/LICENSE
Rinse-PG/HockeySDK-iOS-3.0.0/README.md
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Info.plist
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITAttributedLabel.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITCrashManager.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITFeedbackActivity.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITFeedbackComposeViewController.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITFeedbackListViewController.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITFeedbackManager.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITHockeyBaseManager.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITHockeyManager.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Classes/BITUpdateManager.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Protocols/BITAttributedLabel.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Protocols/BITAttributedLabelDelegate.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Protocols/BITCrashManagerDelegate.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Protocols/BITFeedbackComposeViewControllerDelegate.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Protocols/BITHockeyManagerDelegate.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/Protocols/BITUpdateManagerDelegate.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/css/styles.css
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/css/stylesPrint.css
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/Changelog.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/Guide-Installation-Mac-App.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/Guide-Installation-Setup-Advanced.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/Guide-Installation-Setup.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/Guide-Migration-Kits.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/HockeyMacGeneral_normal.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/HowTo-Add-Application-Log.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/HowTo-App-Versioning.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/HowTo-Handle-Crashes-On-Startup.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/HowTo-Integrate-Atlassian-JMC.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/HowTo-Upload-Symbols.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/Troubleshooting-Symbolication-Doesnt-Work.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/Troubleshooting-Troubleshooting-Crash-Reporting-Not-Working.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/XcodeArchivePostAction_normal.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/XcodeCreateGroups_normal.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/XcodeFrameworks1_normal.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/XcodeFrameworks2_normal.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/XcodeFrameworks4_normal.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/XcodeLinkBinariesLib_normal.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/index.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/docs/index.md
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/docs/index.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/hierarchy.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/img/button_bar_background.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/img/disclosure.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/img/disclosure_open.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/img/library_background.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/img/title_background.png
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Documents/index.html
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Nodes.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens1.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens10.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens11.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens12.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens13.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens14.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens15.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens16.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens17.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens18.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens19.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens2.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens20.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens21.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens22.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens23.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens24.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens25.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens26.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens27.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens3.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens4.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens5.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens6.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens7.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens8.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/Tokens9.xml
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/docSet.dsidx
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/docSet.mom
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/docSet.skidx
Rinse-PG/HockeySDK-iOS-3.0.0/de.bitstadium.HockeySDK-iOS-3.0.0.docset/Contents/Resources/docSet.toc
Rinse-PG/Rinse-PG.xcodeproj/xcuserdata/michaelaldape.xcuserdatad/xcschemes/Rinse-PG.xcscheme
Rinse-PG/Rinse-PG.xcodeproj/xcuserdata/michaelaldape.xcuserdatad/xcschemes/xcschememanagement.plist
